

div.MuiBox-root{
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(8px);
    h2{
        color: rgb(255, 132, 0);
    }
    div.MuiBox-root{
        background: transparent;
        form{
            display: flex;
            flex-direction: column;
            div.feedback__form{
                box-sizing: border-box;
                padding: 10px 0;
                span.form__title{
                    color: rgb(255, 132, 0);
                    line-height: 30px;
                }
                div.MuiFormControl-root{
                    background: transparent;
                    label.MuiFormLabel-root{
                        color: #aeaeae;
                    }
                    label.Mui-focused{
                        color: rgb(255, 132, 0);
                    }
                    div.MuiInputBase-root{
                        &::before{
                            border-bottom: 1px solid #aeaeae;
                        }
                        input.MuiInputBase-input{
                            color: #aeaeae;
                            &:-webkit-autofill{
                                transition: background-color 5000s;
                                    -webkit-text-fill-color: #ffffff99 !important;
                                &:hover{
                                    transition: background-color 5000s;
                                        -webkit-text-fill-color: #ffffff99 !important;
                                }
                                &:focus{
                                    transition: background-color 5000s;
                                        -webkit-text-fill-color: #ffffff99 !important;
                                }
                                &:active{
                                    transition: background-color 5000s;
                                        -webkit-text-fill-color: #ffffff99 !important;
                                }
                            }
                        }
                        &::after{
                            border-bottom: 1px solid rgb(255, 132, 0);
                        }
                    }
                }
                .errorMessage {
                    height: 15px;
                    font-size: 12px;
                    color: rgb(191, 0, 0);
                    display: block;
                    font-weight: 700;
                }
            }
            button{
                border: 1px solid rgba(255, 132, 0, 0.436);
                color: rgb(255, 132, 0);
                &:hover{
                    background-color: rgba(210, 102, 25, 0.04);
                    border: 1px solid rgb(255, 132, 0);
                }
            }
                                
        }
    }
}